*.o
.deps
.libs
aclocal.m4
autom4te.cache
codecs/*.la
codecs/*.lo
config.log
config.status
configure
docs/*.8
docs/*.aux
docs/*.log
drivers/*.cmd
drivers/*.ko
drivers/*.mod.*
drivers/makefile
drivers/makefile.in
drivers/Module.symvers
drivers/modules.order
gnuscripts/ltmain.sh
libtool
Makefile
Makefile.in
utilities/bkrcheck
utilities/bkrencode
