*.o
.deps
.libs
aclocal.m4
autom4te.cache
backer.spec
codecs/*.la
codecs/*.lo
config.log
config.status
configure
docs/*.8
docs/*.aux
docs/*.log
docs/backer-driv.pdf
drivers/.tmp_versions
drivers/*.cmd
drivers/*.ko
drivers/*.mod.*
drivers/makefile
drivers/makefile.in
drivers/Module.symvers
drivers/modules.order
gnuscripts/libtool.m4
gnuscripts/ltoptions.m4
gnuscripts/ltsugar.m4
gnuscripts/ltversion.m4
gnuscripts/lt~obsolete.m4
gnuscripts/ltmain.sh
libtool
Makefile
Makefile.in
utilities/bkrcheck
utilities/bkrencode
